details {
	/* source : https://nerdy.dev/open-and-close-transitions-for-the-details-element*/

	@media (prefers-reduced-motion: no-preference) {
		interpolate-size: allow-keywords;
	}


	&::details-content {
		opacity: 0;
		block-size: 0;
		overflow-y: clip;
		transition: content-visibility 1s allow-discrete, opacity 0.75s, block-size 0.75s;
	}

	&[open]::details-content {
		opacity: 1;
		block-size: auto;
	}

	& div {
		margin-left: 6px;
	}
}

summary {
	background: lightgray;
	padding-left: 8px;
	height: 34px;
	border: 1px solid white;
	border-radius: 6px;
	font-weight: bold;


	&::marker {
		font-size: 20px;
	}
}
