@model Models.Media
@{
    ViewBag.PageTitle = "Détails";
}

<div id="panel"></div>

@section Scripts {
    <script>
        $(() => {
            new AutoRefreshedPanel("panel", "/Medias/GetMediaDetails",5);
        })
    </script>
}