@model Models.Media
@{
    ViewBag.PageTitle = "Détails";
}

<div id="panel">
    @{ Html.RenderPartial("GetMediaDetails", Model); }
</div>

@section Scripts {
    <script>
        $(() => {
            new AutoRefreshedPanel("panel", "/Medias/GetMediaDetails", 3);
        })
    </script>
}