@model List<Models.User>

@{
	int selectedOwnerId = ViewBag.SelectedOwnerId ?? (Session["SelectedOwnerId"] ?? 0);
	List<Models.Media> medias;
	if (ViewBag.Medias != null)
	{
		medias = (List<Models.Media>)ViewBag.Medias;
	}
	else
	{
		var connectedUser = Models.User.ConnectedUser;
		medias = DAL.DB.Medias.ToList()
				.Where(m => connectedUser.IsAdmin || m.OwnerId == connectedUser.Id || m.Shared)
				.ToList();
	}
	var display = Model ?? new List<User>();
}

<select id="ownerSelect" class="form-control">
    <option value="0" @(selectedOwnerId == 0 ? "selected" : "")>Tous les usagers</option>
    @foreach (var user in display)
    {
        int mediasCount = medias.Count(m => m.OwnerId == user.Id);
        string selected = selectedOwnerId == user.Id ? "selected" : "";
        <option value="@user.Id" @selected>@user.Name (@mediasCount)</option>
    }
</select>